<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-10">
            <ngx-spinner 
            bdColor="rgba(51,51,51,0.8)"
            size="medium"
            color="#237BF1"
            type="ball-scale-multiple"
            >
            <p style="font-size: 20px; color: white">Listando Zonas...</p>
            </ngx-spinner>
              <div class="card">
                  <div class="card-header card-header-info">
                      <h4 class="card-title ">Zonas</h4>
                      <p class="card-category">Liste de zonas registradas</p>
                  </div>
                  <div class="col-md-12">
                    
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table" >
                              <thead class=" text-primary">
                                  <th>ZONA</th>
                                  <th>DISTRITO</th>
                                  <th>PROVINCIA</th>
                                  <th>DEPARTAMENTO</th>
                              </thead>
                              <tbody>
                                  <tr *ngFor= "let zona of zonas" >
                                   <!-- XDDD <app-primerexamen [paciente]="paciente.nombre"> </app-primerexamen> -->
                                      <td>
                                        {{zona.nombrezona}}
                                        <button mat-raised-button (click)="editarZona(zona)" type="button" matTooltip="Editar" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm">
                                          <i class="material-icons">edit</i>
                                        </button>                                        
                                      </td>
                                      <td>{{zona.nombredis}}</td>
                                      <td>{{zona.nombrepro}}</td>
                                      <td>{{zona.nombredepa}}</td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                     
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
