<ngx-spinner 
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#237BF1"
  type="ball-scale-multiple">
  <p style="font-size: 20px; color: white">Editando...</p>
</ngx-spinner>
<div class="animated pulse">
  <div class="container-fluid">
      <div class="card">
          <div class="card-header card-header-info">
          <h4 class="card-title">EDITAR A LA ZONA: {{data.nombrezona}}</h4>
              <p class="card-category"></p>
          </div>
          <div class="card-body   container" >
            <form [formGroup]="zonaForm" (ngSubmit)="editar(zonaForm.value)">   
              <mat-form-field class="example-full-width" appearance="outline" >
                <mat-label>NOMBRE DE LA ZONA</mat-label>
                <input matInput type="text" required formControlName="nombrezona" value={{nombrezona}}>
              </mat-form-field>
              
              <button mat-raised-button type="submit" class="btn-block btn-primary" >EDITAR</button>
              <div class="clearfix"></div>
            </form>
          </div>
      </div>
  </div>
</div>
