
<div class="main-content">
    <div class="container-fluid">
        <div class="card card-plain">
            <div class="card-header card-header-danger">
                <h4 class="card-title">La Anemia</h4>
                <p class="card-category">Una explicación de la anemia en el Perú
                </p>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card-body">
                        <div class="iframe-container d-none d-lg-block">
                            <iframe src="https://www.youtube.com/embed/pifRnXZblgY" frameborder="0">
                                
                            </iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  